html{
    height: 100%;
    margin: 0;
    background: -webkit-radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
    background: radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
    color: #8b9095;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.header{
  text-align: center;
  padding:10px 0;
  font-weight: 600;
  border-bottom: solid 1px #ddd;
  font-size: 20px;
  text-transform: uppercase;
  color: #1c222b;
}

.main{
  background:#fff;
  max-width: 450px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 15% ;
  box-shadow: 0 12px 38px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  @media (max-width: 500px){
    max-width: none;
    width:95%;
  }
}


.timer{
  text-align: right;
  padding-top:60px;
  span{
    color:#fff;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

input[type="text"] {
  width: 50px;
  padding:5px;
  text-align: center;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #6B6B6B;
  font-size: 20px;
  height: 50px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}


.btn-group{
  font-size: 30px;
  padding-top:63px;
  margin-left: 10px;

  i{
    padding:8px;
    cursor: pointer;
    color:#fff;
    background: lighten(#F16018, 20);
    margin:0px;

    &:hover{
      background: lighten(#F16018, 5);
    }
  }
}

#btnReset{
  margin-left: -8px;
}

#time{
  text-align: center;
  padding-top:38px;
  padding-bottom:42px;
  font-size: 60px;

}

#progress{
  height:2px;
  background:#A3D7DC;
  width:0;
}