/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  line-height: 1.5;
  font-weight: 300;
  color: #3F3F3F;
  -webkit-text-size-adjust: 100%;
}

/*************************************************************
// Grids
**************************************************************/
[class*="grid-"] {
  float: left;
  padding: 0 0%;
}

.grid-1 {
  width: 8.33333%;
}

.grid-2 {
  width: 16.66667%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.33333%;
}

.grid-5 {
  width: 41.66667%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.33333%;
}

.grid-8 {
  width: 66.66667%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.33333%;
}

.grid-11 {
  width: 91.66667%;
}

.grid-12 {
  width: 100%;
}

li {
  list-style: none;
}

.clearfix {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

html {
  height: 100%;
  margin: 0;
  background: -webkit-radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
  background: radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
  color: #8b9095;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
  border-bottom: solid 1px #ddd;
  font-size: 20px;
  text-transform: uppercase;
  color: #1c222b;
}

.main {
  background: #fff;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  box-shadow: 0 12px 38px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

@media (max-width: 500px) {
  .main {
    max-width: none;
    width: 95%;
  }
}

.timer {
  text-align: right;
  padding-top: 60px;
}

.timer span {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 50px;
  padding: 5px;
  text-align: center;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #6B6B6B;
  font-size: 20px;
  height: 50px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn-group {
  font-size: 30px;
  padding-top: 63px;
  margin-left: 10px;
}

.btn-group i {
  padding: 8px;
  cursor: pointer;
  color: #fff;
  background: #f7a278;
  margin: 0px;
}

.btn-group i:hover {
  background: #f27130;
}

#btnReset {
  margin-left: -8px;
}

#time {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 42px;
  font-size: 60px;
}

#progress {
  height: 2px;
  background: #A3D7DC;
  width: 0;
}
